//progress bar style 
.style-animate-dot-wrap {
	height: 6px;
	width: 6px;
	background: var(--main-color-one);
	border-radius: 50%;
	margin-right: 16px;
	display: inline-block;
	margin-left: 6px;
	margin-top: 6px;
	float: left;
	position: relative;
	margin-top: 10px;
	&::before{
		content: '';
		position: absolute;
		left: 50%;
		top: 50%;
		height: 12px;
		width: 12px;
		border-radius: 50%;
		border: 1px solid #1E1E1E;
		transform: translate(-50%, -50%);
		transition: 0.4s;
	}
	&::after{
		content: '';
		position: absolute;
		left: 50%;
		top: 50%;
		height: 18px;
		width: 18px;
		border-radius: 50%;
		border: 1px solid #1E1E1E;
		transform: translate(-50%, -50%);
		transition: 0.4s;
	}
}
.style-animate-dot {
	height: 6px;
	width: 6px;
	background: var(--main-color-one);
	border-radius: 50%;
	margin-right: 16px;
	display: inline-block;
	position: relative;
	transition: 0.4s;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
}
.progressbar-bottom {
    padding-top: 10px;

}
.skills-name {
    margin-bottom: 20px;
}
.team-detail-card {
	margin-bottom: 120px;
	padding-top: 14px;
	.card-detail {
		padding: 15px 30px 15px 30px;
		background-color: #2A2A2A;
		.title{
			font-size: 18px;
			font-weight: 600;
			color: #ffff;
			margin-bottom: 10px;
		}
		& h5{
			font-size: 16px;
			color: var(--main-color-one);
			font-weight: 500;
			text-transform: uppercase;
			padding: 8px 0px;
		}
		& p{
			color: #C9C9C9;
	}
	}}