/*--------------------------
    Video Play Button
--------------------------*/

.video-play-btn {
  position: absolute;
  z-index: 1;
  display: inline-block;
  width: 46px;
  height: 46px;
  line-height: 43px;
  text-align: center;
  font-size: 14px;
  background-color: var(--main-color-one);
  color: $white;
  bottom: 50px;
  left: 80px;
  border-radius: 50px;

  &:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    /* IE 9 */
    -webkit-transform: translateX(-50%) translateY(-50%);
    /* Chrome, Safari, Opera */
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 100px;
    height: 100px;
    z-index: -1;
  }

  &.style-01 {
    background-color: var(--main-color-one);
    color: $white;

    &::before {
      background-color: var(--main-color-one);
    }

    &:focus,
    &:hover {
      color: $white;
    }
  }
}

.video-play-btn-02 {
  position: relative;
  z-index: 1;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background-color: #BA1111;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 30px;
  margin: auto;
  &:hover{
    color: #fff;
  }

  &:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    /* IE 9 */
    -webkit-transform: translateX(-50%) translateY(-50%);
    /* Chrome, Safari, Opera */
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid #BA1111;
    //background: $white;
    animation: pulse-border 1500ms ease-out infinite;
    z-index: -1;
  }

  &.style-01 {
    background-color: var(--main-color-one);
    color: $white;

    &::before {
      background-color: var(--main-color-one);
    }

    &:focus,
    &:hover {
      color: $white;
    }
  }
}

.video-play-btn:hover,
.video-play-btn:focus {
  color: $white;
}

@keyframes pulse-border {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.8);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.8);
    opacity: 0;
  }
}


//play button two
.video-play-button-two {
  position: absolute;
  z-index: 10;
  left: 120px;
  bottom: 70px;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 46px;
  height: 46px;
  /* background: #fa183d; */
  border-radius: 50%;
  padding: 18px 20px 18px 28px;
}

.video-play-button-two:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #ba1f24;
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button-two:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #fa183d;
  border-radius: 50%;
  transition: all 200ms;
}

.video-play-button-two:hover:after {
  background-color: darken(#fa183d, 10%);
}

.video-play-button-two img {
  position: relative;
  z-index: 3;
  max-width: 100%;
  width: auto;
  height: auto;
}

.video-play-button-two span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 32px solid #fff;
	border-top: 22px solid transparent;
	border-bottom: 22px solid transparent;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

.video-icon i {
  color: #fff;
  z-index: 99;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}