.progress-bar {
    width: 100%; 
    margin: auto; 
    margin-top: 10px;
    background-color: #ddd;
    border-radius: 6px;
    height: 15px;
}
.progress {
    width: 0;
    border-radius: 6px;
    height: 10px;
    text-align: right;
    position: relative;
}
.progress span {
    display: inline-block;
    position: absolute;
    top: 0px; 
    right: 10px;
    color: white;
    text-transform: capitalize;
}