.blog-area {
    padding: 90px 0 80px 0;
}
.blog-list-item-wrap{
    padding-top: 50px;
}
.author-meta{
    margin: 0;
    padding: 0;
    & li{
        list-style: none;
        margin-bottom: 10px;
        & .posted-on{
            color: #8e8e8e;
            text-transform: uppercase;
        }
    }
}
.details {
    padding-top: 15px;
}
.author img {
    margin-right: 10px;
}
.single-blog-item-inner{
    .byline{
        color: #8E8E8E;
        text-transform: uppercase;
    }
}

//blog two
.single-blog-item-inner.single-blog-item-inner-two{
    position: relative;
    .thumb{
        & img{
            width: 100%;
        }
    }
    .date{
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--main-color-one);
        width: 80px;
        height: 80px;
        line-height: 1.5;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        padding-top: 15px;
        font-weight: 700;
    }
    .title{
        font-size: 22px;
        font-weight: 600;
    }
}
.blog-single-content-wrap.main-blog-single{
    blockquote:not(.has-light-gray-color):not(.has-very-dark-gray-color):not(.is-style-large):not(.is-style-large) {
        background-color: #FFE1E1;
        border-radius: 6px;
        padding: 56px 83px 23px 83px;
        margin-top: 23px;
        margin-bottom: 33px;
        border: none;
        position: relative;
        z-index: 0;
        overflow: hidden;
        &::before{
            content: "\e911";
            font-family: 'icomoon';
            font-weight: 900;
            display: block;
            position: absolute;
            z-index: -1;
            top: 27px;
            left: 7px;
            color: var(--main-color-one);
            font-size: 33px;
            line-height: .8;
            font-style: normal;
            background-color: transparent;
        }
    } 
    cite{
        color: #484848 !important;
         text-align: left;
         padding-left: 75px; 
         &::before{
             left: 0;
         }  
    }
    & p{
        font-family: var(--body-font);
        font-style: normal;
    }
}
